@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}
main{
    width: 1200px;
    color: #f1f1f1;
    text-align: center;
    border-radius: 15px;
    background-color: #121214;
}
main > p{
    font: bold 1.4rem 'IBM Plex Sans', sans-serif;
}
#perfil_bar{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.perfil{
    margin: 10px;
    font: normal 1rem 'IBM Plex Sans', sans-serif;    
}
.perfil:hover{
    font-weight: bold;
}
section img{
    border-radius: 10px;
}
section img:hover{
    border: 3px solid #f1f1f1;
    transform: scale(.9);
    transition: transform 1s, border .2s;
}
#adicionar:hover{
    content: url("..//img/adicionarbranco.svg");
}
button{
    padding: 10px 25px;
    color: #f1f1f1;
    margin-bottom: 1rem;
    border-bottom: #f1f1f1;
    border-radius: 8px;
    background-color: #121214;
    font: bold 1rem 'IBM Plex Sans', sans-serif;  
}
button:hover{
    color: black;
    background-color: #f1f1f1;
    transition: color .8s, background-color .8s;
}